<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation System Computer PC for suitable usage</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="bar_home">
        <a href="/test">ระบบแนะนำการเลือกคอมพิวเตอร์พีซีให้เหมาะกับการใช้งาน</a>
        <ul>
            <a href="/"><li>หน้าแรก</li></a>
            <a href="/"><li>รายการคอมพิวเตอร์</li></a>
            <a href="/"><li>ส่วนประกอบคอมพิวเตอร์</li></a>
        </ul>
    </div>
        <div class="specFull">
            <h1 style="background-color: rgb(0, 40, 52);padding: 15px;border-radius: 5px;color: aliceblue;border: 1px solid #ccc;">Computer Specifications</h1>
            <div class="spec-grid"> <!-- เพิ่ม div สำหรับกริด -->
                <% specs.forEach(spec => { %>
                    <div class="spec">
                        <h2><%= spec.CPU %></h2>
                        <p>Motherboard: <%= spec.MB %></p>
                        <p>Graphics Card: <%= spec.VGA %></p>
                        <p>RAM: <%= spec.RAM %></p>
                        <p>SSD: <%= spec.SSD %></p>
                        <p>HDD: <%= spec.HDD %></p>
                        <p>Power Supply: <%= spec.PSU %></p>
                        <p>Case: <%= spec.CASE %></p>
                        <p>Cooling: <%= spec.COOLING %></p>
                        <p>Monitor: <%= spec.MONITOR %></p>
                    </div>
                <% }) %>
            </div>
            
            <div class="pagination">
                <% if (currentPage > 1) { %>
                    <a href="/page/<%= currentPage - 1 %>">Previous</a>
                <% } %>
        
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <a href="/page/<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
                <% } %>
        
                <% if (currentPage < totalPages) { %>
                    <a href="/page/<%= currentPage + 1 %>">Next</a>
                <% } %>
            </div>
        </div>
    

</body>
</html>